<html lang="en">
<head>
	<title>Age verification using redirect demo</title>
	<link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<div class="container">
	<img class="logo" src="/static/img/logo.svg"/>
	<h1>Age verification using redirect demo</h1>
	<p>By clicking the button below a new browser tab will open with the go.cam age verification page.</p>
	<p>The verification result will be posted back to your verification result callback url.</p>
	<a class="button" href="{{ goCamRedirectUrl }}" target="_blank">Start age verification</a>
</div>
</body>
</html>
