
$support-for-original-webkit-gradients : false !default;
$experimental-support-for-opera : false !default;
$experimental-support-for-microsoft : false !default;
$experimental-support-for-khtml : false !default;

$font-monospaced: "Courier New", Courier, monospace;
